REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=python:tesis-percepcion-publica:v0.1 (by u/tu_usuario)

DB_HOST=localhost
DB_PORT=5432
DB_NAME=percepcion_publica_tesis
DB_USER=
DB_PASSWORD=